.button
		background: transparent
		color: #fff
		font-weight: 500
		letter-spacing: 4px
		font-size: 17px
		transition: ease 0.5s
		padding: 13px 35px
		text-transform: uppercase
		border: 4px #fff solid

.button:hover
		background-color: rgba(255, 255, 255, 0.8)
		color: #000