<footer>
  <div class="container">
    <div class="footleft">
      <div class="footlogo"></div>
      <p class='ftabout'>Я занимаюсь оптимизацией сайтов уже более 5 лет и готов поделиться опытом.</p>
      <div class="flcontact">
        <p><i class="fas fa-map-marker-alt"></i>Санкт-Петербург</p>
        <p><i class="fas fa-phone"></i>7 777 77 77</p>
        <p><i class="fas fa-envelope"></i>webrunn@gmail.com</p>
      </div>
      <div class="socmenu">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-google"></i></a>
        <a href="#"><i class="fab fa-vk"></i></a>
      </div>
    </div>

    <div class="footcenter">
      <h3>Последние записи</h3><hr>
      <p>Познакомьтесь с последними постами</p>
    </div>

    <div class="footright">
      <h3>Напишите мне</h3><hr>
      <p>Я отвечу на все возникшие вопросы</p>
    </div>
  </div>
</footer>
