<section class="page-about">
  <div class="container">
    <div class="page-about-heading">
      <h2 class="title-3 t-center">Привет, я веб разработчик</h2>
      <p class="t-center title-4">html, css, js, seo</p>
      <hr class="heading-hr">
    </div>
    <p>Меня зовут Александр и я специалист, который занимается разработкой сайтов с нуля. Технически любой сайт состоит из трех столпов: разметки на <b>html</b>, оформлении на <b>css</b> и программного кода <b>JavaScript</b>.</p>
    <p>Также современный сайт должен иметь привлекательный внешний вид и удобное управление. За это отвечает дизайн. Не меньшее, а зачастую даже большее значение имеют тексты.</p>
    <blockquote>Совокупность перечисленного непоследственно влияют на продвижение сайта в сети Интернет.</blockquote>
    <p>Я представляю собой специалиста, который имеет опыт во всех основных аспектах разработки. Я умею писать валидный, читаемый и доступный для будущей модификации код, составлять seo-тексты, владею инструментами поискового продвижения и слежу за последними тенденциями в веб-дизайне.</p>
    <a href="/about/portfolio/" class="main-btn main-btn--white">мое портфолио</a>
  </div>
    
</section>

<section class="gallery">
  <h1>Помидоркогалерея</h1>
  <div class="gallery__pictures">
    <p class="gallery__picture-full">
      <img class="full-picture" src="gallery-tomato/tomato-red-large.jpg" width="450" height="300" alt="Фото большое">
    </p>
    <p class="gallery__picture-previews">
      <button class="gallery__picture-preview" type="button">
        <img src="gallery-tomato/tomato-red.jpg" alt="Помидорка красная">
      </button>
      <button class="gallery__picture-preview" type="button">
        <img src="gallery-tomato/tomato-yellow.jpg" alt="Помидорка жёлтая">
      </button>
      <button class="gallery__picture-preview" type="button">
        <img src="gallery-tomato/tomato-strange.jpg" alt="Помидорка серобурая">
      </button>
    </p>
  </div>
</section>

<style>
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 555px;
}

.gallery__pictures {
  display: flex;
}

.gallery__picture-full {
  margin-bottom: 0;
}

.gallery__picture-full img {
  display: block;
  box-shadow: 0 0 5px rgba(0, 1, 1, 0.2);
}

.gallery__picture-previews {
  display: flex;
  width: 90px;
  margin: 0;
  margin-right: 15px;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  justify-content: space-between;
  order: -1;
}

.gallery__picture-preview {
  position: relative;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  outline: none;
  top: 0;
  filter: grayscale(1);
  opacity: 0.7;
  transition: top 0.2s, box-shadow 0.2s, filter 0.2s, opacity 0.2s;
  box-shadow: 0 0 5px rgba(0, 1, 1, 0.2);
}

.gallery__picture-preview:hover {
  outline: 3px solid #cccccc;
  outline-offset: -3px;
}

.gallery__picture-preview:focus {
  top: -5px;
  box-shadow: 0 3px 10px 2px rgba(0, 1, 1, 0.2);
  filter: none;
  opacity: 1;
}

.gallery__picture-preview img {
  display: block;
  object-fit: cover;
  width: 90px;
  height: 90px;
}
</style>