<section class="page-about">
  <div class="container">
    <div class="page-about-heading">
      <h2 class="title-3 t-center">Привет, я Александр</h2>
      <p class="t-center title-4">html, css, js, seo</p>
      <hr class="heading-hr">
    </div>
    <p>Я специалист, который занимается разработкой сайтов с нуля. Технически любой сайт состоит из трех столпов: разметки на <b>html</b>, оформлении на <b>css</b> и программного кода <b>JavaScript</b>.</p>
    <p>Также современный сайт должен иметь привлекательный внешний вид и удобное управление. За это отвечает дизайн. Не меньшее, а зачастую даже большее значение имеют тексты.</p>
    <blockquote>Совокупность перечисленного непоследственно влияют на продвижение сайта в сети Интернет.</blockquote>
    <p>Я представляю собой специалиста, который имеет опыт во всех основных аспектах разработки. Я умею писать валидный, читаемый и доступный для будущей модификации код, составлять seo-тексты, владею инструментами поискового продвижения и слежу за последними тенденциями в веб-дизайне.</p>
    <a href="/about/portfolio/" class="main-btn main-btn--white">мое портфолио</a>
  </div>
    
</section>