<div class="mainpage page-about">

	<div class="about">
		<div class="slider about-slider">
			<div class="container">
				<h1>Обо Мне</h1>
				<p>Узнайте. как мы будем работать</p>
			</div>
		</div>
	</div>

	<section class="left-heading container1100">
			<div class="left-line-heading">
				<h2>Как я<span class="accent-color"> работаю</span></h2>
				<p>Привет! Меня зовут Александр и я тот, кто разбирается в Web. Я умею рисовать макеты, верстать сайты, писать тексты и оптимизировать сайт под требования поисковых роботов. Я тот, кому можно доверить свой сайт.<br><br>На этом сайте можно оценить мои навыки, узнать о достижениях и связаться со мной для начала нового сотрудничества. Я постарался сделать так, чтобы сайт был как можно более информативным и интересным для изучения.</p>
			</div>
			<div class="light-box"></div>
			<img src="/assets/img/about/computer.jpg" alt="Обо мне и моем сайте" >
	</section>


	<section class="questions">
		<div class="heading">
			<h2>3 главных вопроса</h2>
			<p>ответы на самые распространенные вопросы</p>
			<hr>
		</div>
		<div class="grid">
			<div class="item item1">
				<div class="minheading">
					<h5>Как мне контролировать работу?</h5>
					<p>При согласовании работ мы обязательно составим четкое техническое задание, чтобы в будущем не возникло проблем с недопониманием и вы получили ровно то, что ожидали за оговоренную стоимость.</p>
					<a href="#" class="button">Подробнее</a>
				</div>
				<div class="img"></div>
			</div>

			<div class="item item2">
				<div class="minheading">
					<h5>Через какое время сайт будет в топе?</h5>
					<p>Гарантии давать практически невозможно. Здесь требуется работа, учитывающая огромное количество деталей: начиная от дизайна и удобства сайта, заканчивая контентом и позиционированием, а также востребовательностью на рынке услуг.</p>
					<a href="#" class="button">Подробнее</a>
				</div>
				<div class="img"></div>
			</div>

			<div class="item item3">
				<div class="minheading">
					<h5>Как скоро мой сайт начнет продавать?</h5>
					<p>Это сильно зависит от способа монетизации сайта. В любом случае, сайт продает если у него есть трафик с потенциальными покупателями, предложения вашего бизнеса конкурентоспособны, а у сайта высокие показатели конверсии.</p>
					<a href="#" class="button">Подробнее</a>
				</div>
				<div class="img"></div>
			</div>
		</div>
	</section>

	<section class="achiev">
		<div class="grid">
			<div class="item">
				<h5>5</h5>
				<p>Лет опыта</p>
			</div>
			<div class="item">
				<h5>1329</h5>
				<p>Статьи</p>
			</div>
			<div class="item">
				<h5>43</h5>
				<p>Макета</p>
			</div>
			<div class="item">
				<h5>13</h5>
				<p>Сайтов</p>
			</div>
		</div>
	</section>
	<section class="help">
		<div class="grid">
			<div class="item item1">
				<i class="fas fa-rocket"></i>
				<h5>Ответ</h5>
				<hr>
				<p>В самые короткие сроки я отреагируем на Вашу заявку.</p>
			</div>
			<div class="item item2">
				<i class="fas fa-graduation-cap"></i>
				<h5>Консультация</h5>
				<hr>
				<p>Только конкретная информация по Вашим вопросам.</p>
			</div>
			<div class="item item3">
				<i class="fas fa-search"></i>
				<h5>Поиск</h5>
				<hr>
				<p>Я найду и расскажу Вам об оптимальных решениях.</p>
			</div>
			<div class="item item4">
				<i class="fab fa-whmcs"></i>
				<h5>Решение</h5>
				<hr>
				<p>После консультации я готов начать решение проблем.</p>
			</div>
		</div>
	</section>

</div>