<div class="serv-page">

	<div class="slider serv-bg">
		<div class="container">
			<h1>Мои основные услуги</h1>
			<p>5 лет опыта накопленных знаний</p>
		</div>
	</div>

	<section class="whydo">
		<div class="heading">
			<h2>Почему стоит обращаться</h2>
			<p>В чем мои главные преимущества</p>
			<hr>
		</div>
		<div class="grid">
			<div class="leftgr">
				<div class="item item1">
					<i class="fas fa-graduation-cap"></i>
					<h5>Подробная консультация</h5>
					<p>Вы будете знать все, что я делаю, а также зачем и почему именно так</p>
					<hr>
				</div>
				<div class="item item2">
					<i class="fas fa-search"></i>
					<h5>Регулярные отчеты</h5>
					<p>Я буду предоставлять отчеты по проделанной работе</p>
					<hr>
				</div>
				<div class="item item3">
					<i class="fab fa-whmcs"></i>
					<h5>Гарантированные правки</h5>
					<p>Я доработаю проект, если вы не довольны результатом</p>
				</div>
			</div>
			<div class="rightgr"></div>
		</div>
	</section>

	<div class="slider serv-second">
		<div class="container">
			<h1>Мои основные услуги</h1>
			<p>5 лет опыта накопленных знаний</p>
			<hr>
		</div>
		<div class="grid">
			<div class="item1">
				<img src="/assets/img/services/megaphone.png" alt="">
				<h5>Копирайтинг</h5>
				<p>Оптимизированные под поисковые запросы целевой аудитории тексты</p>
				<a href="#"><i class="fas fa-caret-right"></i></a>
			</div>
			<div class="item1">
				<img src="/assets/img/services/rocket-1.png" alt="">
				<h5>SEO</h5>
				<p>Выявление проблем и адаптация сайта под требования поисковых роботов</p>
				<a href="#"><i class="fas fa-caret-right"></i></a>
			</div>
			<div class="item1">
				<img src="/assets/img/services/pp.png" alt="">
				<h5>Конверсия</h5>
				<p>Увеличение продаж сайта за счет создание более приветливой для пользователя среды</p>
				<a href="#"><i class="fas fa-caret-right"></i></a>
			</div>
			<div class="item1">
				<img src="/assets/img/services/setting.png" alt="">
				<h5>Верстка</h5>
				<p>Создание и верстка дизайна с нуля или на основе уже существующего сайта</p>
				<a href="#"><i class="fas fa-caret-right"></i></a>
			</div>
		</div>
	</div>

		<section class="help">
		<div class="grid">
			<div class="item item1">
				<i class="fas fa-rocket"></i>
				<h5>Ответ</h5>
				<hr>
				<p>В самые короткие сроки я отреагируем на Вашу заявку.</p>
			</div>
			<div class="item item2">
				<i class="fas fa-graduation-cap"></i>
				<h5>Консультация</h5>
				<hr>
				<p>Только конкретная информация по Вашим вопросам.</p>
			</div>
			<div class="item item3">
				<i class="fas fa-search"></i>
				<h5>Поиск</h5>
				<hr>
				<p>Я найду и расскажу Вам об оптимальных решениях.</p>
			</div>
			<div class="item item4">
				<i class="fab fa-whmcs"></i>
				<h5>Решение</h5>
				<hr>
				<p>После консультации я готов начать решение проблем.</p>
			</div>
		</div>
	</section>
</div>