/////////////////////////////////////////////////////
// Слайдер
////////////////////////////////////////////////////
.main-slider
  background: url(img/mainpage/bg-main.jpg) no-repeat center
  background-size: cover
  background-attachment: fixed
  min-height: 660px
  display: grid
  opacity: 1
  .heading
    max-width: 1070px
    padding-left: 15px
    padding-right: 15px
    margin: auto
    text-align: left
    align-self: center
  h1 
    color: #fff
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4)
    font-size: 65px
    line-height: 1
    margin-bottom: 15px
  p 
    color: rgba(255, 255, 255, 0.8)
    margin-bottom: 40px



@media (max-width: 1000px)
  .main-slider
    .container
      h1
        line-height: 1
  


@media (max-width: 480px)
  .main-slider
    h1
      font-size: 45px
      line-height: 1
      margin-bottom: 10px
    .heading
      p 
        margin-bottom: 20px

/////////////////////////////////////////////////////
// О себе
////////////////////////////////////////////////////

.left-heading, .right-heading
  display: flex
  justify-content: center 
  align-items: center
  position: relative
  overflow: hidden
  
  h2
    text-align: left
    margin-bottom: $gatter
  p:before
    content: ""
    width: 60px
    height: 7px
    background-color: #dedede
    display: block
    position: absolute
    top: 10px
    left: 0
  p 
    text-align: left
    padding-left: 75px
    padding-right: $gatter
    position: relative
  .light-box
    position: absolute
    height: 100%
    width: 70%
    right: $gatter
    display: block
    background: rgba(222, 222, 222, 0.6)
    z-index: -1

.right-heading
  flex-direction: row-reverse
  .light-box
    left: $gatter
  .line-heading
    margin-left: $gatter

@media (max-width: 905px)
  .left-heading, .right-heading
    display: grid
    grid-template-columns: 1fr
    img
      margin: auto
      padding: $gatter
    p 
      max-width: 370px
    .light-box
      display: none

@media (max-width: 500px)
  .left-heading, .right-heading
    .light-box
      display: none
    img
      display: none

/////////////////////////////////////////////////////
// Что умею
////////////////////////////////////////////////////


.what-do
  position: relative
  padding: $gatter
  .item
    position: relative
    text-align: left
    padding-left: 70px
    padding-right: 20px
  .item:before
    content: ""
    width: 120px
    height: 70px
    background-color: #dedede
    position: absolute
    left: 25px
    top: 28px
    z-index: -1
  h2 
    text-align: left
    margin-bottom: 2*$gatter
  .svg-icon
    fill: #9c9c9c
    width: 60px
    position: absolute
    left: 0
  .svg-icon:hover
    fill: $accent


@media (max-width: 700px)
  .what-do
    .row
      display: grid
      grid-gap: $gatter
      grid-template-columns: 1fr 1fr

@media (max-width: 470px)
  .what-do
    .row
      grid-template-columns: 1fr

/////////////////////////////////////////////////////
// Лучшие качества
////////////////////////////////////////////////////
  
.my-best
  display: grid
  grid-template-columns: 1fr 3fr

  .line-heading
    text-align: left
    p 
      padding-left: $gatter

  .grid
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr

@media (max-width: 930px)
  .my-best
    grid-template-columns: 1fr 2fr
    .grid
      grid-template-columns: 1fr 1fr
    .line-heading
      align-self: center

@media (max-width: 480px)
  .my-best
    grid-template-columns: 1fr
    .line-heading
      margin-bottom: $gatter


/////////////////////////////////////////////////////
// Сервисы
////////////////////////////////////////////////////



.my-services
  position: relative
  h2
    text-align: left
    margin-bottom: 40px

/////////////////////////////////////////////////////
// Карусель
////////////////////////////////////////////////////

.owl-carousel   
  h4
    margin-top: 10px
    margin-bottom: 10px
    color: #5e5e5e
  .svg-icon
    height: 100px
    width: 100px
    fill: #5e5e5e
    transition: 0.3s
  .owl-nav
    position: absolute
    top: -75px
    left: 400px
    .fa-arrow-right:before
      font-size: 34px
      margin-left: 25px
    .fa-arrow-left:before
      font-size: 34px
      margin-right: 25px
  .item
    border-radius: 4px
    padding: 10px
    height: 240px
    transition: 0.3s
  .item:hover
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.25)
    .svg-icon
      fill: $accent
  .owl-dots
    margin-top: 20px
  .owl-dot
    span 
      height: 15px
      width: 15px
      background-color: #dedede
      display: block
      margin-right: 10px
      border-radius: 50%
  .active
    span
      background-color: $accent


@media (max-width: 540px)
  .my-services
    .owl-nav
      left: 300px

@media (max-width: 450px)
  .my-services
    .owl-nav
      left: 20px
      top: -60px
    h2
      margin-bottom: 100px